body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  min-height: 100vh
}

/* ----------------------- */
/* header and hero section */
/* ----------------------- */
.header,
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: darkmagenta;
  color: white;
  padding: 16px;
}

.logo {
  font-size: 32px;
  font-weight: 900;
}

ul {
  display: flex;
  align-items: center;
  gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hero {
  justify-content: center;
  flex-wrap: wrap-reverse;
}

.hero-item {
  width: 500px;
}

.title-1 {
  font-size: 50px;
  font-weight: 900;
}

img {
  width: 500px;
}

/* ------------------- */
/* information section */
/* ------------------- */
.information {
  height: 50vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-2 {
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  padding: 20px 20px 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  flex-basis: 250px;
  text-align: center;
}

.item img {
  width: 150px;
  height: 150px;
  border: 2px solid darkmagenta;
  border-radius: 25%;
}

.subtext {
  color: #808080;
  padding: 15px;
}

/* ----------------- */
/* testimonal section */
/* ----------------- */
.testimonial {
  background-color: #f3eaf3;
  height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial p {
  width: 1000px;
  margin-bottom: 0;
  font-size: 25px;
  font-family: Optima;
}

.testimonial h3 {
  width: 1000px;
  text-align: right;
}

/* ---------- */
/* action box */
/* ---------- */
.action {
  height: 30vh;
}

.action-box {
  width: 1000px;
  height: 150px;
  background-color: #c17cdf;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-box div {
  color: white;
  width: 65%;
}

.title-3 {
  font-weight: 700;
  font-size: 20px;
}


/* --------------- */
/* reusable styles */
/* --------------- */
button {
  background-color: white;
  border: purple;
  border-radius: 8px;
  color: purple;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #ed4eed; 
  color: white;
}
